header {
	background-color: Gold;
	color: dimgrey;
	height: 200px;
	font-size: 120px;
	margin:0;
	padding:0;
	border-bottom-style:solid;
	border-width:1px;
	border-color: lightgrey;
}

.headerleft {
	float:left;
	width:70%;
	height:100%;
	line-height:200px;
	display:table-cell;
	vertical-align: middle;
}



.headerright {
	background-color: green;
	float:left;
	width:30%;
	height:100%;
	text-align:center;
}

header :after {
  content: "";
  display: table;
  clear: both;
}


nav {
	background-color:black;
	margin-top: 10px;
	padding: 0;
	height: 40px;
	width:100%;
	font-weight: bold;
	font-size: 20px;
}

nav a {
	border-right-style:solid;
	border-width:1px;
	border-color: white;
	display: block;
	padding: 10px;
	margin: 0;
	width:60px;
	line-height:20px;
	text-decoration: none;
	float:left;
	text-align:center;
}

nav a.active{
	color: white;
	padding: 10px;
	margin: 0;
	text-decoration: none;
}


nav a.noactive {
	color: grey;
	padding: 10px;
	margin: 0;
	text-decoration: none;
}

nav a:hover{
	background-color: darkgray; 
}

nav :after {
  content: "";
  display: table;
  clear: both;
}


.sidenav {
	background-color:black;
	margin-top: 10px;
	padding: 0;
	height: 100%;
	width:200px;
	font-weight: bold;
	font-size: 20px;
	float: left;
}

.sidenav a {
	border-bottom-style:solid;
	border-width:1px;
	border-color: white;
	display: block;
	padding: 10px;
	margin: 0;
	line-height:20px;
	text-decoration: none;
	text-align:center;
}

.sidenav a.active{
	color: white;
	padding: 10px;
	margin: 0;
	text-decoration: none;
}


.sidenav a.noactive {
	color: grey;
	padding: 10px;
	margin: 0;
	text-decoration: none;
}

.sidenav a:hover{
	background-color: darkgray; 
}



.tartalom {
	line-height: 20px;
	padding-left: 300px;
	float:left;
}


.tartalom :after {
  content: "";
  display: table;
  clear: both;
}


table, td {
    border: 1px solid black;
}
table {
    display: table;
    border-collapse: separate;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
}

div.image {
	position: inherit;
	margin-top: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
