header {
	background-color: Gold;
	color: dimgrey;
	height: 200px;
	font-size: 120px;
	margin:0;
	padding:0;
	border-bottom-style:solid;
	border-width:1px;
	border-color: lightgrey;
}

.headerleft {
	float:left;
	width:70%;
	height:100%;
	line-height:200px;
	display:table-cell;
	vertical-align: middle;
}



.headerright {
	background-color: green;
	float:left;
	width:30%;
	height:100%;
	text-align:center;
}

header :after {
  content: "";
  display: table;
  clear: both;
}


nav {
	background-color:black;
	margin-top: 10px;
	padding: 0;
	height: 40px;
	width:100%;
	font-weight: bold;
	font-size: 20px;
}

nav a {
	border-right-style:solid;
	border-width:1px;
	border-color: white;
	display: block;
	padding: 10px;
	margin: 0;
	width:60px;
	line-height: 20px;
	text-decoration: none;
	float:left;
	text-align:center;
}

nav a.active{
	color: white;
	padding: 10px;
	margin: 0;
	text-decoration: none;
}


nav a.noactive {
	color: grey;
	padding: 10px;
	margin: 0;
	text-decoration: none;
}

nav a:hover{
	background-color: darkgray; 
}



.sidenav {
	background-color:black;
	margin-top: 10px;
	padding: 0;
	width:200px;
	font-weight: bold;
	font-size: 20px;
	float:left;
	clear:left;
}

.sidenav a {
	border-bottom-style:solid;
	border-width:1px;
	border-color: white;
	display: block;
	padding: 10px;
	margin: 0;
	line-height:20px;
	text-decoration: none;
}

.sidenav a.active{
	color: white;
	padding: 10px;
	margin: 0;
	text-decoration: none;
}


.sidenav a.noactive {
	color: grey;
	padding: 10px;
	margin: 0;
	text-decoration: none;
}

.sidenav a:hover{
	background-color: darkgray; 
}



.tartalom {
	text-align:justify;
	line-height: 20px;
	padding-left: 50px;
	width: 50%;
	float:left;
}


table.table td {
    border: 1px solid black;
}
table.table {
	border: 1px solid black;
    display: table;
    border-collapse: separate;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
}

div.image {
	position: inherit;
	margin-top: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


table.code_style {
	margin-left:auto; 
    margin-right:auto;
	border: 1px solid grey;
	background-color:lightgrey;
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	
}

table.code_style {
	background-color:lightgrey;
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	
}


.bold_italic{
	font-weight:bold;
	font-style:italic;
}

.comment {
	font-size:16px;
	font-weight:normal;
	font-style:italic;
	color:green;
}


div.example {
	border:2px solid black;
}

div.example > div.ex11 {
	background-color:#dc4444;
}

div.example > div.ex12 {
	background-color:#3c8061;
}

div.example > div.ex13 {
	background-color:#475c8d;
}

div.example > div.ex21 {
	background-color:#dc4444;
}

div.example > div.ex22 {
	background-color:#3c8061;
	float:left;
}

div.example > div.ex23 {
	background-color:#475c8d;
}

div.example > div.ex24 {
	background-color:#dac561;
}

div.example > div.ex25 {
	background-color:#96a1ba;
}

div.example > div.ex31 {
	background-color:#dc4444;
}

div.example > div.ex32 {
	background-color:#3c8061;
	float:left;
}

div.example > div.ex33 {
	background-color:#475c8d;
	float:left;
}

div.example > div.ex34 {
	background-color:#dac561;
}

div.example > div.ex35 {
	background-color:#96a1ba;
}

div.example > div.ex41 {
	background-color:#dc4444;
}

div.example > div.ex42 {
	background-color:#3c8061;
	float:left;
}

div.example div.ex43 {
	background-color:#475c8d;
}

div.example div.ex44 {
	background-color:#dac561;
}

div.example > div.ex45 {
	background-color:#96a1ba;
}

div.example > div.ex51 {
	background-color:#dc4444;
}

div.example > div.ex52 {
	background-color:#3c8061;
	float:left;
}

div.example div.ex53 {
	background-color:#475c8d;
}

div.example div.ex54 {
	background-color:#dac561;
}

div.example > div.ex55 {
	background-color:#96a1ba;
	clear:left;
}

div.example > div.ex61 {
	background-color:#dc4444;
}

div.example > div.ex62 {
	background-color:#3c8061;
	display:flex;
	justify-content:space-around;
}

div.example div.ex63 {
	background-color:#475c8d;
}

div.example div.ex64 {
	background-color:#dac561;
}

div.example > div.ex65 {
	background-color:#96a1ba;
	clear:left;
}

div.example > div.ex71 {
	background-color:#dc4444;
}

div.example > div.ex72 {
	background-color:#3c8061;
}

div.example div.ex73 {
	background-color:#475c8d;
	float:left;
}

div.example div.ex74 {
	background-color:#dac561;
}

div.example > div.ex75 {
	background-color:#96a1ba;
}