.header {
	color: white;
	height: 100px;
	background-color: black;
	text-align: center;
	font-size: 30px;
}


.menu ul{
	margin:0;
	padding: 0;
	display: block;
}

.menu li{
	list-style-type: none;
	margin: 0;
    padding: 10px;
	width: 170px;
	background-color: #ccffff;
	display: block;
	text-decoration: none;
}


.menu li.noactive a {
	background-color: #eee; /* Grey background color */
	color: black; /* Black text color */
	padding: 0; /* Add some padding */
	text-decoration: none; /* Remove underline from links */
}

.menu li a:hover{
	background-color: #ccc; /* Dark grey background on mouse-over */
}

.menu li.active a{
	background-color: #4CAF50; /* Add a green color to the "active/current" link */
	color: white;
	padding: 0; /* Add some padding */
	text-decoration: none; /* Remove underline from links */
}

div.tartalom {
	margin-left: 300px;
	line-height: 20px;
}



element.style {
}
table, td {
    border: 1px solid black;
}
table {
    display: table;
    border-collapse: separate;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
}

div.image {
	position: inherit;
	margin-top: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
